.lesson-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.lessons, .registered-lessons {
    flex: 1;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 gray;
}

.lesson-list, .registered-lesson {
    list-style: none;
    padding: 0;
}

.lesson-item {
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.lesson-item button {
    margin-left: 1rem;
    padding: 0.3rem 0.6rem;
    border: none;
    background: #007acc;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.lesson-item button:disabled {
    background: gray;
    cursor: not-allowed;
}

h2, h3 {
    margin-bottom: 0.5rem;
}


@media (max-width: 600px){
    .lesson-container{
        flex-direction: column; /*縦並びにする*/
        align-items: center;  /*中央にする*/
    }

    .lessons,
    .registered-lessons {
        width: 100%; /* 横幅いっぱいに */
    }

    .lesson-item{
        font-size: 0.9rem;
    }

    .lesson-item button{
        margin-left: 0;  /*左の余白をリセット*/
        width: 100%; /*横幅を大きく長くする*/
        margin-top: 0.5rem; /*大きくしたから、少し下にする*/
    }
}