
/*時間割表*/

.timetable-container {
    margin: 20px;
    overflow-x: auto;
    padding: 0.8rem;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 gray;
}

.timetable {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
    table-layout: flex; /*セルを均等に分ける*/
}

.timetable th,
.timetable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    height: 60px;
}

.timetable th {
    background-color: #f0f0f0;
}

.timetable td{
    word-break: break-word;  /*単語の途中でも折り返す*/
    white-space: nowrap;    /*普通に改行する*/
}

.timetable-cell {
    background-color: #fff;
}

@media (max-width: 600px) {
    .timetable th,
    .timetable td {
        padding: 4px;
        font-size: 0.8rem;
        height: 40px; /*高さを低めに*/
    }

    .timetable {
        min-width: 400px; /*少し狭めの幅でも収まるように*/
    }
}

/*過去・現在ボタンタブ*/

.timetable-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.timetable-tabs button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #eee;
    border-radius: 6px;
    cursor: pointer;
}

.timetable-tabs button.active {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
}

@media (max-width: 600px) {
    .timetable-tabs button {
        flex: 1; /*ボタンの幅を均等に、画面いっぱいに*/
        font-size: 0.9rem;
        padding: 8px 0;
    }
}


/*モーダル表示*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 300px;
}

@media (max-width: 600px) {
    .modal{
        width: 90%;
        min-width: unset;
    }
}